<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="nl.endran.showcaseui"
    android:versionCode="4"
    android:versionName="2.0.2" xmlns:tools="http://schemas.android.com/tools">

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="18" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="nl.endran.showcase.application.kbf.MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service android:name="nl.endran.showcase.application.kbfservice.ShowcaseServer" tools:ignore="MissingRegistered">
        </service>

        <activity android:name="nl.endran.showcase.application.kbf.BeerDetailActivity" >
        </activity>
        <activity android:name="nl.endran.showcase.application.kbf.LoginActivity" >
        </activity>
        <activity android:name="nl.endran.showcase.application.kbf.AboutActivity" >
        </activity>
        <activity android:name="nl.endran.showcase.application.kbf.AdvancedSearchActivity" >
        </activity>
    </application>

</manifest>